<h1 class="text-center">About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/37594174_10157664925702729_1252742690664087552_n.jpg?_nc_cat=0&oh=46836878a5c38c9b49131ce74795223b&oe=5C131793", width: 250, alt: 'profile-image'%>
  </div>

  <div class="col-md-8">
    <p>Lorem ipsum dolor amet iceland cardigan everyday carry raw denim gochujang. 3 wolf moon shabby chic intelligentsia PBR&B, snackwave pour-over pok pok man bun flannel next level sartorial stumptown yuccie messenger bag. Helvetica selfies distillery bicycle rights, food truck tofu ramps fashion axe sartorial edison bulb irony locavore marfa palo santo. Ethical fanny pack narwhal pinterest pabst. Marfa street art literally seitan tumeric neutra enamel pin pop-up cliche leggings banjo activated charcoal next level echo park.</p>

    <p>Selvage locavore cloud bread, cray ethical green juice leggings williamsburg vaporware distillery man braid kitsch irony ugh humblebrag. Gastropub fingerstache tote bag pork belly you probably haven't heard of them typewriter pok pok wayfarers kinfolk bushwick adaptogen. Banh mi helvetica hell of post-ironic schlitz, DIY kickstarter mustache. Organic chicharrones photo booth, helvetica actually ethical tattooed thundercats pinterest hashtag. Church-key vexillologist cloud bread wayfarers.</p>
  
  </div>

</div>